@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import './tailwind.colors-hsl.css' layer(base);
@import 'tailwindcss';
@import './variants.css';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border));
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  body {
    font-family: 'Geist', Arial, Helvetica, sans-serif;
  }

  /* Hide scrollbar but keep scroll functionality */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}

@layer base {
  :root {
    /* gradients */
    --primary-gradient: linear-gradient(
      180deg,
      hsl(var(--brand-600)) 0%,
      hsl(var(--brand-700)) 100%
    );
    --primary-pressed-gradient: linear-gradient(
      180deg,
      hsl(var(--brand-700)) 0%,
      hsl(var(--brand-800)) 100%
    );
    --primary-hover-gradient: linear-gradient(
      180deg,
      hsl(var(--brand-700)) 0%,
      hsl(var(--brand-800)) 100%
    );
    --destructive-gradient: linear-gradient(
      180deg,
      hsl(var(--red-500)) 0%,
      hsl(var(--red-600)) 100%
    );
    --destructive-hover-gradient: linear-gradient(
      180deg,
      hsl(var(--red-600)) 0%,
      hsl(var(--red-700)) 100%
    );
    --destructive-pressed-gradient: linear-gradient(
      180deg,
      hsl(var(--red-700)) 0%,
      hsl(var(--red-800)) 100%
    );
    --secondary-hover-gradient: linear-gradient(0deg, hsl(var(--secondary)), hsl(var(--alpha-80)));
    /* normal */
    --background: var(--base-white);
    --foreground: var(--zinc-900);
    --primary: var(--brand-600);
    --primary-foreground: var(--zinc-50);
    --secondary-foreground: var(--zinc-900);
    --accent-foreground: var(--zinc-900);
    --border: var(--zinc-200);
    --accent: var(--zinc-100);
    --card: var(--base-white);
    --input: var(--zinc-200);
    --card-foreground: var(--zinc-950);
    --destructive: var(--red-600);
    --destructive-foreground: var(--red-50);
    --muted: var(--zinc-100);
    --muted-foreground: var(--zinc-500);
    --popover: var(--base-white);
    --popover-foreground: var(--zinc-950);
    --ring: var(--brand-200);
    --secondary: var(--zinc-100);
    --chart-1: var(--red-500);
    --chart-2: var(--orange-500);
    --chart-3: var(--amber-500);
    --chart-4: var(--yellow-500);
    --chart-5: var(--lime-500);
    --chart-6: var(--green-500);
    --chart-7: var(--teal-500);
    --chart-8: var(--cyan-500);
    --chart-9: var(--blue-500);
    --chart-10: var(--violet-500);
    --sidebar-primary-foreground: var(--zinc-50);
    --sidebar-primary: var(--zinc-900);
    --sidebar-foreground: var(--zinc-700);
    --sidebar-background: var(--base-white);
    --sidebar-accent: var(--zinc-100);
    --sidebar-accent-foreground: var(--zinc-900);
    --sidebar-border: var(--zinc-200);
    --sidebar-ring: var(--zinc-400);
    --table-background-primary: var(--base-white);
    --table-background-alternative: var(--zinc-50);

    /* Alpha values */
    --alpha-10: 0 0% 100% / 0.9;
    --alpha-20: 0 0% 100% / 0.8;
    --alpha-30: 0 0% 100% / 0.7;
    --alpha-40: 0 0% 100% / 0.6;
    --alpha-50: 0 0% 100% / 0.5;
    --alpha-60: 0 0% 100% / 0.4;
    --alpha-70: 0 0% 100% / 0.3;
    --alpha-80: 0 0% 100% / 0.2;
    --alpha-90: 0 0% 100% / 0.1;

    /* Alpha dark values */
    --alpha-dark-10: 0 0% 100% / 0.9;
    --alpha-dark-20: 0 0% 100% / 0.8;
    --alpha-dark-30: 0 0% 100% / 0.7;
    --alpha-dark-40: 0 0% 100% / 0.6;
    --alpha-dark-50: 0 0% 100% / 0.5;
    --alpha-dark-60: 0 0% 100% / 0.4;
    --alpha-dark-70: 0 0% 100% / 0.3;
    --alpha-dark-80: 0 0% 100% / 0.2;
    --alpha-dark-85: 0 0% 100% / 0.15;
    --alpha-dark-90: 0 0% 100% / 0.1;
    --alpha-dark-95: 0 0% 100% / 0.05;

    /* Statuses */
    --gray-background: var(--zinc-200);
    --gray-foreground: var(--zinc-950);
    --blue-background: var(--blue-100);
    --blue-foreground: var(--blue-700);
    --yellow-background: var(--yellow-100);
    --yellow-foreground: var(--yellow-700);
    --red-background: var(--red-50);
    --red-foreground: var(--red-700);
    --green-background: var(--green-100);
    --green-foreground: var(--green-700);

    /* radius */
    --radius: 0.5rem;

    /* shadcn */
    --success: 120 39.3% 54.1%;
    --success-foreground: 210 40% 98%;
    --warning: 45 89% 53.1%;
    --warning-foreground: 210 40% 98%;
    --info: 205.9 78% 60%;
    --info-foreground: 210 40% 98%;
    --error: 0 72.2% 50.6%;
    --error-foreground: 210 40% 98%;
  }

  .dark {
    --background: var(--zinc-950);
    --foreground: var(--zinc-50);
    --primary: var(--brand-500);
    --primary-foreground: var(--zinc-50);
    --secondary-foreground: var(--zinc-50);
    --accent-foreground: var(--zinc-100);
    --border: var(--zinc-800);
    --accent: var(--zinc-800);
    --card: var(--zinc-900);
    --input: var(--zinc-800);
    --card-foreground: var(--zinc-50);
    --destructive: var(--red-500);
    --destructive-foreground: var(--red-50);
    --muted: var(--zinc-800);
    --muted-foreground: var(--zinc-400);
    --popover: var(--zinc-950);
    --popover-foreground: var(--zinc-50);
    --ring: var(--brand-800);
    --secondary: var(--zinc-800);
    --chart-1: var(--red-400);
    --chart-2: var(--orange-400);
    --chart-3: var(--amber-400);
    --chart-4: var(--yellow-400);
    --chart-5: var(--lime-400);
    --chart-6: var(--green-400);
    --chart-7: var(--teal-400);
    --chart-8: var(--cyan-400);
    --chart-9: var(--blue-400);
    --chart-10: var(--violet-400);
    --sidebar-primary-foreground: var(--base-white);
    --sidebar-primary: var(--blue-700);
    --sidebar-foreground: var(--zinc-100);
    --sidebar-background: var(--zinc-900);
    --sidebar-accent: var(--zinc-800);
    --sidebar-accent-foreground: var(--zinc-100);
    --sidebar-border: var(--zinc-800);
    --sidebar-ring: var(--zinc-300);
    --table-background-primary: var(--zinc-950);
    --table-background-alternative: var(--zinc-900);

    /* Alpha values */
    --alpha-10: 240 10% 4% / 0.9;
    --alpha-20: 240 10% 4% / 0.8;
    --alpha-30: 240 10% 4% / 0.7;
    --alpha-40: 240 10% 4% / 0.6;
    --alpha-50: 240 10% 4% / 0.5;
    --alpha-60: 240 10% 4% / 0.4;
    --alpha-70: 240 10% 4% / 0.3;
    --alpha-80: 240 10% 4% / 0.2;
    --alpha-90: 240 10% 4% / 0.1;

    /* Alpha dark values */
    --alpha-dark-10: 0 0% 100% / 0.9;
    --alpha-dark-20: 0 0% 100% / 0.8;
    --alpha-dark-30: 0 0% 100% / 0.7;
    --alpha-dark-40: 0 0% 100% / 0.6;
    --alpha-dark-50: 0 0% 100% / 0.5;
    --alpha-dark-60: 0 0% 100% / 0.4;
    --alpha-dark-70: 0 0% 100% / 0.3;
    --alpha-dark-80: 0 0% 100% / 0.2;
    --alpha-dark-85: 0 0% 100% / 0.15;
    --alpha-dark-90: 0 0% 100% / 0.1;
    --alpha-dark-95: 0 0% 100% / 0.05;

    /* Statuses */
    --gray-background: var(--zinc-800);
    --gray-foreground: var(--zinc-50);
    --blue-background: var(--blue-950);
    --blue-foreground: var(--blue-50);
    --yellow-background: var(--yellow-950);
    --yellow-foreground: var(--yellow-50);
    --red-background: var(--red-950);
    --red-foreground: var(--red-50);
    --green-background: var(--green-950);
    --green-foreground: var(--green-100);

    /* shadcn */
    --success: 120 39.3% 54.1%;
    --success-foreground: 210 40% 98%;
    --warning: 45 89% 53.1%;
    --warning-foreground: 210 40% 98%;
    --info: 205.9 78% 60%;
    --info-foreground: 210 40% 98%;
    --error: 0 72.2% 50.6%;
    --error-foreground: 210 40% 98%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}

.primary-gradient {
  @apply bg-linear-180 from-brand-500 to-brand-600 dark:from-red-500 dark:to-red-600 hover:from-brand-600 hover:to-brand-800 dark:hover:from-red-500 dark:hover:to-red-700;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
  }
}
